@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ Layout = "_NavInlogInvestigatorLayout"; 
}
@model IFakeDataRepository

<h2>Detaljer för ärende: @ViewBag.TId</h2>
<p class="info">Du är inloggad som handläggare</p>

@await Component.InvokeAsync("ShowOneCrime", ViewBag.TId)

<section id="bottomColumn">
    <h3>Redigera ärende</h3>
    <p class="label">Händelser:</p>
    <textarea name="events" rows="5" cols="60"></textarea>

    <p class="label">Mer information:</p>
    <textarea name="information" rows="5" cols="60"></textarea>

    <p class="label">Prover:</p>
    <input type="file" name="loadImage" />

    <p class="label">Ladda upp bilder:</p>
    <input type="file" name="loadImage" />

    <p class="label">Ändring av status:</p>
    <select name="status">
        <option selected="selected">Välj</option>
        @foreach (Status statuses in Model.Statuses) {
            <option>@statuses.StatusName</option>
        }
    </select>

    <p>
        <input class="button" type="submit" value="Spara ändringarna" />
    </p>
</section>