@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ Layout = "_NavInlogManagerLayout";
}
@model IFakeDataRepository

<h2>Detaljer för ärende: @ViewBag.TId</h2>
<p class="info">Du är inloggad som avdelningschef</p>

@await Component.InvokeAsync("ShowOneCrime", ViewBag.TId)

<section id="bottomColumn">
    <h3>Redigera ärende</h3>
    <p>Ange handläggare: 
        <select name="investigator">
            <option selected="selected">Välj</option>
            @foreach (Employee employee in Model.Employees) {
                <option>@employee.EmployeeName</option>
            }
        </select>
    </p>
    <p><input type="checkbox" name="noAction" value="noAction" /> Ingen åtgärd: <input type="text" name="reason" value="Ange motivering"/></p>
    <p><input class="button" type="submit" value="Spara" /></p>
</section>