<!DOCTYPE html>

<html xml:lang="sv" lang="sv">
<head>
    <meta charset="UTF-8" />
    <title>Småstads kommun</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-
1.11.3.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.v
alidate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3
.2.6/jquery.validate.unobtrusive.min.js"></script>
</head>

<body>
    <div id="wrapper">
        <header id="logo">
            <h1>Småstad</h1>
            <p>Kommunen där vi bryr oss om varandra</p>
        </header><!-- End header -->

        @RenderBody()


    </div><!-- End Wrapper -->
</body>
</html>