@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ Layout = "_NavCoordinatorLayout";
}
@model Department

<h2>Detaljer för ärende: @ViewBag.TId</h2>
<p class="info">Du är inloggad som samordnare: @ViewBag.User</p>

@await Component.InvokeAsync("ShowOneCrime", ViewBag.TId)



<section id="bottomColumn">
    <h3>Redigera ärende</h3>
    
        Ange enhet:
        <form asp-route-id="@ViewBag.TId" asp-controller="Coordinator" asp-action="UpdateDepartment" method="post">
            <select asp-for="DepartmentName" asp-items="@(new SelectList(ViewBag.ListOfDepartments,"", "DepartmentName"))">
                <option selected="selected">Välj</option>
            </select>
            <p><input class="button" type="submit" value="Spara" /></p>
        </form>
    
</section>